*{
    font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar{
    width: 8px !important;
    background-color: #CACACA !important;
    color: black ;
    cursor: pointer !important;
    padding: 2px !important;
}
::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 10px;
}
.nav{
    background-color: #081F3E;
    /* height: 50px; */
    color: #CACACA;
    padding-left: 100px !important;
    padding-right: 100px !important;
}
.welcome span{
    color: #006CFF;
}
.welcome{
    margin-top: 15px !important;
}
.navbar{
    background-color: #006aff4b ;
    position: sticky;
    top: 0px;
    animation-name: back;
    animation-delay: 10s ;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    z-index: 100;
}
@keyframes back {
    0%{
        background-color: #006aff8e ;
    }
    100%{
        background-color: #081F3E ;
    }
}
.opacity{
    width: 150px;
    height: 180px;
    position: absolute;
    background-color: white;
    transition: 0.6s;
    opacity: 0;
    margin-top: 30px;
    overflow: hidden;
}
.ls{
    list-style: none;
    margin-left: -32px;
}
.list{
    color: #8d8d8d;
    font-size: 0.9rem;
    font-weight: 550;
    padding-right: 50px !important;
    cursor: pointer;
}
.listt:hover .opacity{
    opacity: 1 !important;
    margin-top: 5px !important;
    z-index: 5;
}
.nav-link{
    color: white !important;
    font-weight: 500;
}
.list:hover{
    background-color: #CACACA;
    color: #006CFF;
}
.nav-item{
    transition: 0.6s;
    overflow-x: hidden;
    overflow-y: visible !important;
}
.btm{
    width: 300px;
    background-color: #FF0000;
    height: 40px;
    cursor: pointer;
    border: none !important;
    overflow: hidden;
}
.btm-div{
    transition: 0.6s;
    background-color: #006CFF;
    transform: translateX(-100%);
}
.btm:hover .btm-div{
    transform: translateX(0%);
}
.text{
    z-index: 3;
}
.btm2-div{
    top: 0px;
    left: 0px;
    background-color: #006CFF;
    transform: translateX(-105%);
    transition: 0.8s;
    z-index: -1;
}
.nav-item:hover .btm2-div{
    transform: translateX(0%);
}
.nav-itemo{
    transition: 0.6s;
}
.nav-itemo:hover{
    background-color: #006CFF;    
}
.nav-item1{
    background-color: #006CFF !important;
}
.h1{
    font-size: 3.4rem;
    font-weight: 700;
    color: #081F3E;
    width: 45%;
}
.p{
    color: #081F3E;
    font-weight: 600;
}
.blue{
    transition: 0.8s !important;
}
.d-blue{
    transition: 0.8s !important;
}
.btn-blue:hover .blue{
    background-color: #081F3E !important;
}
.btn-blue:hover .d-blue{
    background-color: #006CFF !important;
}
.btn-blue{
    cursor: pointer;
}
.h-btn{
    transition: 0.8s;
}
.carousel:hover .h-btn{
    opacity: 1 !important;
}
*::selection{
    background-color: #081F3E !important;
    color:  white !important;
}
.carousel-item{
    position: relative !important;
}
.carousel-item.a2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(237, 245, 255, 0.61);
    z-index: 1;
}
.h-btn2{
    transition: 0.8s;
    margin-left: 30px !important;
}
.carousel:hover .h-btn2{
    opacity: 1 !important;
}
.form{
    position: absolute;
    width: 80%;
    color: white;
    height: 60vh;
    bottom: -500px;
    left: 10%;
    z-index: 6;
}
.form .bg-d-blue{
    background-color: #081F3E;
    width: 70%;
}
.form .bg-blue{
    background-color: #006CFF;
    width: 30%;
}
.cont{
    cursor: pointer;
    transition: 0.4s;
}
.cont:hover{
    color: #CACACA;
}
.form .bg-d-blue select{
    transition: 0.4s;
    border:2px solid  #536174 !important;
}
.form .bg-d-blue select:hover{
    border: 2px solid white !important;
}
.form .bg-d-blue select:focus{
    border: 2px solid #80BDFF !important;
}
.form .bg-d-blue input{
    transition: 0.4s;
    border: 1px solid #8d8d8d !important;
}
.form .bg-d-blue input:hover{
    border: 2px solid white !important;
}
.form .bg-d-blue input:focus{
    border: 2px solid #80BDFF !important;
}
.form .bg-d-blue .input{
    transition: 0.4s;
    border-bottom: 2px solid #8d8d8d !important;
}
.form .bg-d-blue .input:hover{
    border: none !important;
    border-bottom: 2px solid white !important;
}
.form .bg-d-blue .input:focus{
    border: none !important;
    border-bottom: 2px solid #80BDFF !important;
}
.conti{
    transition: 0.6s;
}
.conti:hover{
    margin-left: 20px;
    cursor: pointer;
    color: #CACACA;
}
.w-card .blue,.w-card .bg-blue{
    transition: 0.5s;
}
.w-card:hover .blue{
    color: #006CFF;
}
.w-card:hover .bg-blue{
    background-color: #006CFF !important;
}
.w-card{
    cursor: pointer;
}
.carousel.a3{
    position: relative;
    transition: 0.8s !important;
}
.before{
    transition: 0.8s;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #006affb6;
    z-index: 7;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding-top: 50%;
    cursor: pointer;
}
.carousel.a3:hover .before{
   opacity: 1;
}
.card-1{
    transition: 0.6s;
}
.card-1:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px 10px #eeeeee8f;
}
.lic li{
    cursor: pointer;
    transition: 0.4s;
}
.lic li:hover{
    text-decoration: underline;
}
.icon i{
    transition: 0.6s;
}
.icon:hover i{
    color: #006CFF !important;
}
.ls1 img{
    transition: 0.4s;
}
.ls1{
    cursor:  pointer !important;
}
.ls1:hover img{
    transform: scale(1.15);
    cursor: pointer;
}
.githun{
    transition: 0.8s;
}
.githun:hover{
    text-decoration: underline !important;
}
.about-before{
    position: relative;
}
.about-before::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #aee8ff67;
}
.contain{
    position: relative;
}
.contain::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #006affb6;
    z-index: 5;
}
.video2{
    position: relative;
    transition: 0.6s;
    cursor: pointer;
    box-shadow: 2px 10px 10px #99999991;
    z-index: 19;

}
.vi{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.821);
    top: 0;
    left: 0;
    z-index: 9;
    transition: 0.8s;
}
.video2:hover .vi{
    display: none !important;
}
.percent{
    cursor: pointer;
}
.percent .h5{
    transition: 0.6s;
}
figure:hover .h5{
    color: #006CFF !important;
}
.h:hover p.fw-bold{
    transition: 0.5s;
}
.h:hover p.fw-bold{
    color: #006CFF !important;
}
.be {
    cursor: pointer;
}





























@media screen and  (max-width:450px) {
    .coll{
        background-color: #081F3E !important;
    }
    .nav-item:hover{
        background-color: #006CFF;
    }
    .lic li:hover{
        margin-left: 10px;
    }
}
@media (max-width:992px) {
    .coll{
        background-color: none !important;
    }
}

